<div class="list" ng-controller='ListController'>		
	<div id="input-list" class="row">
        <div class="small-1 columns">&nbsp;
        </div>
        <div class="medium-3 columns">
          <div class="row collapse prefix-round">
            <div class="small-2 columns">
              <span class="prefix">$</span>
            </div>
            <div class="small-10 columns">
              <input type="text" placeholder="Budget">
            </div>
          </div>
        </div>
        <div class="medium-4 columns">
          <select>
          <option value="volvo">Meal Type</option>
          <option value="saab">Breakfast</option>
          <option value="opel">Lunch</option>
          <option value="audi">Dinner</option>
          <option value="audi">Late Night</option>
        </select>
        </div>
        <div class="medium-3 columns">
          <datepicker>
            <input placeholder="Date" ng-model="date" type="text"/>
          </datepicker>
        </div>
        <div class="small-1 columns">&nbsp;
        </div>
      </div>


      <div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
       <h3 id="modalTitle">Please Log in with Facebook to add {Meal Place} to your Meal Planner</h3>
            <a href="#" class="button round modal-button">Login</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>


      
      <div class="list-item">
        
      	<div class="row" >
          <div class="item-bg">
      	<div class="medium-6 large-3 columns">
      		<img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
      	</div>

      	<div class="medium-6 large-9 columns">
          <a href="#/mealplan" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
      		<h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
      		<div class="star"></div>
      		<script>
			$('.star').raty({readOnly:true, score:3});
			</script>
      		<h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
      		</div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>

      <div class="list-item">
        
        <div class="row" >
          <div class="item-bg">
        <div class="medium-6 large-3 columns">
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
        </div>

        <div class="medium-6 large-9 columns">
          <a data-reveal-id="myModal" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
          <h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
          <div class="star"></div>
          <script>
      $('.star').raty({readOnly:true, score:3});
      </script>
          <h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
          </div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>

      <div class="list-item">
        
        <div class="row" >
          <div class="item-bg">
        <div class="medium-6 large-3 columns">
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
        </div>

        <div class="medium-6 large-9 columns">
          <a data-reveal-id="myModal" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
          <h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
          <div class="star"></div>
          <script>
      $('.star').raty({readOnly:true, score:3});
      </script>
          <h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
          </div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>
      

      <script>
      $(document).ready(function() {
    $(document).foundation();
  });
</script>
</div>