<div class="mealplan" ng-controller='MealPlanController'>


  <!--User Info and Introduction-->
  <div class="row">
    <div class="medium-6 columns">
      <h1>{{user.first}}'s Mealplan</h1>
    </div>
    <div class="medium-6 columns center">
      <h1 hidden>USERNAME's Mealplan</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns center">
      <div class="panel wrap">
      <p>Welcome to your GrubBudge Mealplan Page!</p>
    </div>
  </div>
  </div>
  <div class="line-break-white-full"></div>
      <!--Mealplan Item-->
  <div class="list-item">
    <!--Mealplan Name, Date, and Total Cost-->
    <div class="row">
      <div class="small-12 columns center">
        <h3><u>{{planName}}</u></h3>
        <h3><i>{{dateString}}</i></h3>
      </div>
    </div>
    <!--The Display that shows meal-times on large screens-->
    <div class="meal-times hide-for-small-only">
  </div>

    <div class="row">
      <div class="medium-3 columns meal center" ng-repeat="res in restaurantList">
          <h2>{{res.typeTitle}}</h2>
          <a class="th" href="{{res.image}}"><img src="{{res.image}}"></a>
          <h3>{{res.name}}</h3>
          <button>Delete</button>
      </div>
    </div>

    <div class="line-break-white"></div>
  </div>

  <!--Mealplan Item-->
  <div class="list-item">
    <!--Mealplan Name, Date, and Total Cost-->
    <div class="row">
        <script>
              $(document).ready(function() {
            $(document).foundation();
          });
              $("div").click(function(){
           window.location=$(this).find("a").attr("href"); return false;
        });
        </script>
  </div>
