<div class="list" ng-controller='MealPlanController'>		
  <div class="list-item">
        
        <div class="row" >
          <div class="item-bg">
        <div class="medium-6 large-3 columns">
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
        </div>

        <div class="medium-6 large-9 columns">
          <a href="#/mealplan" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
          <h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
          <div class="star"></div>
          <script>
      $('.star').raty({readOnly:true, score:3});
      </script>
          <h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
          </div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>

      <div class="list-item">
        
        <div class="row" >
          <div class="item-bg">
        <div class="medium-6 large-3 columns">
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
        </div>

        <div class="medium-6 large-9 columns">
          <a data-reveal-id="myModal" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
          <h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
          <div class="star"></div>
          <script>
      $('.star').raty({readOnly:true, score:3});
      </script>
          <h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
          </div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>

      <div class="list-item">
        
        <div class="row" >
          <div class="item-bg">
        <div class="medium-6 large-3 columns">
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
        </div>

        <div class="medium-6 large-9 columns">
          <a data-reveal-id="myModal" class="button success addedMeal"><i class="fa fa-check"></i>&nbsp;Budge It!</a>
          <h3 class="restaurant-title">Destihl Restaurant & Brew Works</h3>
          <div class="star"></div>
          <script>
      $('.star').raty({readOnly:true, score:3});
      </script>
          <h5 class = "restaurant-review"><i>146 Reviews</i></h5>
          <p><i>
            American (New), Gluten-free, Breakfast & Brunch, beer-battered asparagus, stout ice cream sandwiches, cheese curds
          </i></p>
          </div>
        </div>
        </div>
        <div class="line-break"></div>
      </div>
</div>

